<a href="https://colab.research.google.com/github/cmannnn/crypto_rnn/blob/main/crypto_rnn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Crypto RNN

##imports

In [1]:
import matplotlib.pyplot as plt
import pandas as pd

!pip install pycoingecko
from pycoingecko import CoinGeckoAPI

Collecting pycoingecko
  Downloading pycoingecko-2.2.0-py3-none-any.whl (8.3 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pycoingecko) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (2.10)
Installing collected packages: pycoingecko
Successfully installed pycoingecko-2.2.0

In [2]:
# initializing CoinGeckoAPI
cg = CoinGeckoAPI()

In [3]:
# checking status of the API
cg.ping()

{'gecko_says': '(V3) To the Moon!'}

In [ ]:
# which coins are currently trending?
cg.get_search_trending()

In [5]:
# testing to retrieve current bitcoin price
cg.get_price(ids ='bitcoin', vs_currencies = 'usd')

{'bitcoin': {'usd': 61017}}

In [6]:
# testing to retrieve current bitcoin price
cg.get_price(ids ='solana', vs_currencies = 'usd')

{'solana': {'usd': 197.68}}

# Getting Bitcoin Data

In [7]:
coins = ['bitcoin', 'ethereum', 'cardano', 'tether', 'solana']

In [8]:
def get_bitcoin():
# getting the price of bitcoin from 01/01/2020 -> 01/01/2021
  bitcoin_sample = cg.get_coin_market_chart_range_by_id(id = 'bitcoin', vs_currency = 'usd', from_timestamp = '1577768400', to_timestamp = '1609477200')

  # putting sample data into a DataFrame
  bitcoin = pd.DataFrame(bitcoin_sample, columns = ['market_caps', 'prices', 'total_volumes'])

  # looping over each col in sample_df, splitting the UNIX time stamps from each and the values
  new_market_caps = []
  new_prices = []
  new_total_volumes = []
  date = []

# looping over the market_caps col
  for date1, mc in bitcoin['market_caps']:
    new_market_caps.append(mc)

# looping over the prices col
  for date2, p in bitcoin['prices']:
    new_prices.append(p)

# looping over the total_volumes col
  for date3, tv in bitcoin['total_volumes']:
    new_total_volumes.append(tv) 

# lopping over the market_cap col to grab the UNIX date
  for date4, x in bitcoin['market_caps']:
    date.append(date4)

    # inserting the new market_cap list into the df
  bitcoin['market_caps'] = new_market_caps

# inserting the new prices list into the df
  bitcoin['prices'] = new_prices

# inserting the new total_volumnes list into the df
  bitcoin['total_volumes'] = new_total_volumes

# inserting the date list into the df
  bitcoin['date'] = date

# changing the date col from UNIX to yyyy-mm-dd
  bitcoin['date'] = pd.to_datetime(bitcoin['date'], unit = 'ms')

# setting the date col as the index
  bitcoin.set_index('date', inplace = True)

  bitcoin.rename(columns={'market_caps':'bitcoin_markt_cap', 'prices':'bitcoin_price', 'total_volumes':'bitcoin_total_volume'}, inplace = True)

  return bitcoin

In [9]:
get_bitcoin()

            bitcoin_markt_cap  bitcoin_price  bitcoin_total_volume
date
2020-01-01       1.303941e+11    7195.153895          2.118788e+10
2020-01-02       1.304230e+11    7193.754668          1.812352e+10
2020-01-03       1.262808e+11    6963.853354          2.031319e+10
2020-01-04       1.327663e+11    7300.346935          3.101578e+10
2020-01-05       1.334747e+11    7351.377053          2.061164e+10
...                       ...            ...                   ...
2020-12-28       4.934275e+11   26423.228792          5.665498e+10
2020-12-29       5.037122e+11   27125.384121          4.218652e+10
2020-12-30       5.096803e+11   27424.538955          3.808184e+10
2020-12-31       5.359673e+11   28837.288529          4.334114e+10
2021-01-01       5.394380e+11   29022.418395          4.350352e+10

[367 rows x 3 columns]

# Grabbing Litecoin Data

In [10]:
def get_litecoin():
  litecoin_sample = cg.get_coin_market_chart_range_by_id(id = 'litecoin', vs_currency = 'usd', from_timestamp = '1577768400', to_timestamp = '1609477200')
  
  # putting sample data into a DataFrame
  litecoin = pd.DataFrame(litecoin_sample, columns = ['market_caps', 'prices', 'total_volumes'])
  
  # looping over each col in sample_df, splitting the UNIX time stamps from each and the values
  new_market_caps = []
  new_prices = []
  new_total_volumes = []
  date = []

# looping over the market_caps col
  for date1, mc in litecoin['market_caps']:
    new_market_caps.append(mc)

# looping over the prices col
  for date2, p in litecoin['prices']:
    new_prices.append(p)

# looping over the total_volumes col
  for date3, tv in litecoin['total_volumes']:
    new_total_volumes.append(tv) 

# lopping over the market_cap col to grab the UNIX date
  for date4, x in litecoin['market_caps']:
    date.append(date4)  
  
  # inserting the new market_cap list into the df
  litecoin['market_caps'] = new_market_caps

# inserting the new prices list into the df
  litecoin['prices'] = new_prices

# inserting the new total_volumnes list into the df
  litecoin['total_volumes'] = new_total_volumes

# inserting the date list into the df
  litecoin['date'] = date

# changing the date col from UNIX to yyyy-mm-dd
  litecoin['date'] = pd.to_datetime(litecoin['date'], unit = 'ms')

# setting the date col as the index
  litecoin.set_index('date', inplace = True)
  
  litecoin.rename(columns={'market_caps':'litecoin_markt_cap', 'prices':'litecoin_price', 'total_volumes':'litecoin_total_volume'}, inplace = True)

  return litecoin

In [11]:
get_litecoin()

            litecoin_markt_cap  litecoin_price  litecoin_total_volume
date
2020-01-01        2.631034e+09       41.330312           2.220352e+09
2020-01-02        2.650380e+09       41.606316           1.979757e+09
2020-01-03        2.513233e+09       39.413813           1.678103e+09
2020-01-04        2.683016e+09       41.991047           2.333782e+09
2020-01-05        2.727570e+09       42.781417           2.085469e+09
...                        ...             ...                    ...
2020-12-28        8.553328e+09      127.899088           1.000616e+10
2020-12-29        8.661848e+09      130.638658           7.456440e+09
2020-12-30        8.581202e+09      129.628167           5.810650e+09
2020-12-31        8.556679e+09      129.244151           5.932641e+09
2021-01-01        8.232940e+09      124.798698           4.978856e+09

[367 rows x 3 columns]

In [ ]:
coins = ['bitcoin', 'ethereum', 'cardano', 'tether', 'solana']

# BTC, ETH, ADA, USDT, SOL

In [43]:
def get_coin_data():
  for i in ['bitcoin', 'ethereum', 'cardano', 'tether', 'solana']:
    coin_sample = cg.get_coin_market_chart_range_by_id(id = i, vs_currency = 'usd', from_timestamp = '1577768400', to_timestamp = '1609477200')
    #coin_data = pd.DataFrame(coin_sample, columns = [i+'market_caps', i+'prices', i+'total_volumes'])
  #return coin_data

In [44]:
get_coin_data()

Empty DataFrame
Columns: [solanamarket_caps, solanaprices, solanatotal_volumes]
Index: []

In [33]:
coin_sample.head()

NameError: ignored

In [ ]:
# putting sample data into a DataFrame
    litecoin = pd.DataFrame(litecoin_sample, columns = ['market_caps', 'prices', 'total_volumes'])
  
  # looping over each col in sample_df, splitting the UNIX time stamps from each and the values
    new_market_caps = []
    new_prices = []
    new_total_volumes = []
    date = []

# looping over the market_caps col
    for date1, mc in litecoin['market_caps']:
      new_market_caps.append(mc)

# looping over the prices col
    for date2, p in litecoin['prices']:
      new_prices.append(p)

# looping over the total_volumes col
    for date3, tv in litecoin['total_volumes']:
      new_total_volumes.append(tv) 

# lopping over the market_cap col to grab the UNIX date
    for date4, x in litecoin['market_caps']:
      date.append(date4)  
  
  # inserting the new market_cap list into the df
    litecoin['market_caps'] = new_market_caps

# inserting the new prices list into the df
    litecoin['prices'] = new_prices

# inserting the new total_volumnes list into the df
    litecoin['total_volumes'] = new_total_volumes

# inserting the date list into the df
    litecoin['date'] = date

# changing the date col from UNIX to yyyy-mm-dd
    litecoin['date'] = pd.to_datetime(litecoin['date'], unit = 'ms')

# setting the date col as the index
    litecoin.set_index('date', inplace = True)
  
    litecoin.rename(columns={'market_caps':'litecoin_markt_cap', 'prices':'litecoin_price', 'total_volumes':'litecoin_total_volume'}, inplace = True)

  return litecoin

#Normalizing Data