<a href="https://colab.research.google.com/github/cmannnn/crypto_rnn/blob/main/crypto_rnn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Crypto RNN

##imports

In [19]:
import matplotlib.pyplot as plt
import pandas as pd

!pip install pycoingecko
from pycoingecko import CoinGeckoAPI

Requirement already satisfied: pycoingecko in /usr/local/lib/python3.7/dist-packages (2.2.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pycoingecko) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (2.10)

In [20]:
# initializing CoinGeckoAPI
cg = CoinGeckoAPI()

In [21]:
# checking status of the API
cg.ping()

{'gecko_says': '(V3) To the Moon!'}

In [22]:
# which coins are currently trending?
cg.get_search_trending()

{'coins': [{'item': {'coin_id': 6111,
    'id': 'taboo-token',
    'large': 'https://assets.coingecko.com/coins/images/6111/large/taboo.PNG?1624500776',
    'market_cap_rank': 444,
    'name': 'Taboo Token',
    'price_btc': 1.7049562819461108e-07,
    'score': 0,
    'slug': 'taboo-token',
    'small': 'https://assets.coingecko.com/coins/images/6111/small/taboo.PNG?1624500776',
    'symbol': 'TABOO',
    'thumb': 'https://assets.coingecko.com/coins/images/6111/thumb/taboo.PNG?1624500776'}},
  {'item': {'coin_id': 14465,
    'id': 'cellframe',
    'large': 'https://assets.coingecko.com/coins/images/14465/large/cellframe_logo.png?1616333567',
    'market_cap_rank': 865,
    'name': 'Cellframe',
    'price_btc': 1.604813960836959e-05,
    'score': 1,
    'slug': 'cellframe',
    'small': 'https://assets.coingecko.com/coins/images/14465/small/cellframe_logo.png?1616333567',
    'symbol': 'CELL',
    'thumb': 'https://assets.coingecko.com/coins/images/14465/thumb/cellframe_logo.png?1616333567'}},
  {'item': {'coin_id': 17461,
    'id': 'plant-vs-undead-token',
    'large': 'https://assets.coingecko.com/coins/images/17461/large/token-200x200.png?1627883446',
    'market_cap_rank': 753,
    'name': 'Plant vs Undead Token',
    'price_btc': 3.470306092189455e-05,
    'score': 2,
    'slug': 'plant-vs-undead-token',
    'small': 'https://assets.coingecko.com/coins/images/17461/small/token-200x200.png?1627883446',
    'symbol': 'PVU',
    'thumb': 'https://assets.coingecko.com/coins/images/17461/thumb/token-200x200.png?1627883446'}},
  {'item': {'coin_id': 11939,
    'id': 'shiba-inu',
    'large': 'https://assets.coingecko.com/coins/images/11939/large/shiba.png?1622619446',
    'market_cap_rank': 13,
    'name': 'Shiba Inu',
    'price_btc': 4.751591334478873e-10,
    'score': 3,
    'slug': 'shiba-inu',
    'small': 'https://assets.coingecko.com/coins/images/11939/small/shiba.png?1622619446',
    'symbol': 'SHIB',
    'thumb': 'https://assets.coingecko.com/coins/images/11939/thumb/shiba.png?1622619446'}},
  {'item': {'coin_id': 18816,
    'id': 'astroswap',
    'large': 'https://assets.coingecko.com/coins/images/18816/large/astro.png?1633506850',
    'market_cap_rank': 442,
    'name': 'AstroSwap',
    'price_btc': 6.968900247064138e-06,
    'score': 4,
    'slug': 'astroswap',
    'small': 'https://assets.coingecko.com/coins/images/18816/small/astro.png?1633506850',
    'symbol': 'ASTRO',
    'thumb': 'https://assets.coingecko.com/coins/images/18816/thumb/astro.png?1633506850'}},
  {'item': {'coin_id': 10366,
    'id': 'smooth-love-potion',
    'large': 'https://assets.coingecko.com/coins/images/10366/large/SLP.png?1578640057',
    'market_cap_rank': 316,
    'name': 'Smooth Love Potion',
    'price_btc': 1.4078448422696141e-06,
    'score': 5,
    'slug': 'smooth-love-potion',
    'small': 'https://assets.coingecko.com/coins/images/10366/small/SLP.png?1578640057',
    'symbol': 'SLP',
    'thumb': 'https://assets.coingecko.com/coins/images/10366/thumb/SLP.png?1578640057'}},
  {'item': {'coin_id': 13744,
    'id': 'polkabridge',
    'large': 'https://assets.coingecko.com/coins/images/13744/large/symbol-whitebg200x200.png?1611377553',
    'market_cap_rank': 922,
    'name': 'PolkaBridge',
    'price_btc': 9.160595430090205e-06,
    'score': 6,
    'slug': 'polkabridge',
    'small': 'https://assets.coingecko.com/coins/images/13744/small/symbol-whitebg200x200.png?1611377553',
    'symbol': 'PBR',
    'thumb': 'https://assets.coingecko.com/coins/images/13744/thumb/symbol-whitebg200x200.png?1611377553'}}],
 'exchanges': []}

In [23]:
# testing to retrieve current bitcoin price
cg.get_price(ids ='bitcoin', vs_currencies = 'usd')

{'bitcoin': {'usd': 57427}}

In [24]:
# getting the price of bitcoin from 01/01/2020 -> 01/01/2021
sample_data = cg.get_coin_market_chart_range_by_id(id = 'bitcoin', vs_currency = 'usd', from_timestamp = '1577854800', to_timestamp = '1609477200')

In [25]:
# putting sample data into a DataFrame
sample_df = pd.DataFrame(sample_data, columns = ['market_caps', 'prices', 'total_volumes'])

In [26]:
sample_df.head()

                           market_caps  ...                       total_volumes
0    [1577923200000, 130422953817.668]  ...   [1577923200000, 18123516838.8979]
1  [1578009600000, 126280790200.20206]  ...  [1578009600000, 20313194628.09452]
2  [1578096000000, 132766262579.09486]  ...  [1578096000000, 31015776262.21867]
3  [1578182400000, 133474716218.18333]  ...  [1578182400000, 20611640058.34164]
4  [1578268800000, 133388991086.87987]  ...  [1578268800000, 21929224570.56102]

[5 rows x 3 columns]

In [27]:
# checking market_caps column
sample_df['market_caps']

0        [1577923200000, 130422953817.668]
1      [1578009600000, 126280790200.20206]
2      [1578096000000, 132766262579.09486]
3      [1578182400000, 133474716218.18333]
4      [1578268800000, 133388991086.87987]
                      ...
361    [1609113600000, 493427450341.26013]
362     [1609200000000, 503712223153.6673]
363     [1609286400000, 509680257177.0481]
364    [1609372800000, 535967306917.84125]
365     [1609459200000, 539438036435.6701]
Name: market_caps, Length: 366, dtype: object

In [28]:
# spliting market_caps col to remove timestamp
#sample_df['date'] = sample_df['market_caps'].str.split(', ')

In [29]:
new_market_caps = []
new_prices = []
new_total_volumes = []
date = []

for date1, mc in sample_df['market_caps']:
  new_market_caps.append(mc)
 

for date2, p in sample_df['prices']:
  new_prices.append(p)

for date3, tv in sample_df['total_volumes']:
  new_total_volumes.append(tv) 

for date4, x in sample_df['market_caps']:
  date.append(date4)

In [30]:
#new_total_volumes[0:5]

In [31]:
sample_df['market_caps'] = sample_df['market_caps'] = new_market_caps
sample_df['prices'] = sample_df['prices'] = new_prices
sample_df['total_volumes'] = sample_df['total_volumes'] = new_total_volumes

sample_df['date'] = sample_df['date'] = date1
#sample_df['date'] = sample_df['date'].astype('int')

In [16]:
#sample_df['date'] = sample_df['date'].astype('datetime64[ns]')

In [32]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   market_caps    366 non-null    float64
 1   prices         366 non-null    float64
 2   total_volumes  366 non-null    float64
 3   date           366 non-null    int64
dtypes: float64(3), int64(1)
memory usage: 11.6 KB

In [15]:
sample_df['date'] = pd.to_datetime(sample_df['date'], unit = 'ns')

In [21]:
#pd.to_datetime(1578009600000, unit = 'ns')

Timestamp('1970-01-01 00:26:18.009600')

In [17]:
sample_df.set_index('date', inplace = True)

In [33]:
sample_df.head(10)

    market_caps       prices  total_volumes           date
0  1.304230e+11  7193.754668   1.812352e+10  1609459200000
1  1.262808e+11  6963.853354   2.031319e+10  1609459200000
2  1.327663e+11  7300.346935   3.101578e+10  1609459200000
3  1.334747e+11  7351.377053   2.061164e+10  1609459200000
4  1.333890e+11  7349.972248   2.192922e+10  1609459200000
5  1.405572e+11  7734.675516   2.814852e+10  1609459200000
6  1.477986e+11  8147.415238   3.482319e+10  1609459200000
7  1.460896e+11  8045.789125   3.997151e+10  1609459200000
8  1.419139e+11  7832.795644   2.927605e+10  1609459200000
9  1.468799e+11  8180.513170   3.577730e+10  1609459200000

In [ ]:
for i in c:
  print(i)

539438036435.6701

In [ ]:
col_names = ['market_caps', 'prices', 'total_volumes']

In [ ]:
print(market_caps.values)

In [ ]:
# price every day starting 01-01-2020

In [ ]:
data = cg.get_coin_history_by_id(id = 'bitcoin', date ='10-11-2020', localization = 'false')