<a href="https://colab.research.google.com/github/cmannnn/crypto_rnn/blob/main/crypto_rnn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Crypto RNN

##imports

In [1]:
import matplotlib.pyplot as plt
import pandas as pd

!pip install pycoingecko
from pycoingecko import CoinGeckoAPI

Collecting pycoingecko
  Downloading pycoingecko-2.2.0-py3-none-any.whl (8.3 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pycoingecko) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (2021.5.30)
Installing collected packages: pycoingecko
Successfully installed pycoingecko-2.2.0

In [2]:
# initializing CoinGeckoAPI
cg = CoinGeckoAPI()

In [3]:
# checking status of the API
cg.ping()

{'gecko_says': '(V3) To the Moon!'}

In [4]:
# which coins are currently trending?
cg.get_search_trending()

{'coins': [{'item': {'coin_id': 6111,
    'id': 'taboo-token',
    'large': 'https://assets.coingecko.com/coins/images/6111/large/taboo.PNG?1624500776',
    'market_cap_rank': 452,
    'name': 'Taboo Token',
    'price_btc': 1.62913019913785e-07,
    'score': 0,
    'slug': 'taboo-token',
    'small': 'https://assets.coingecko.com/coins/images/6111/small/taboo.PNG?1624500776',
    'symbol': 'TABOO',
    'thumb': 'https://assets.coingecko.com/coins/images/6111/thumb/taboo.PNG?1624500776'}},
  {'item': {'coin_id': 14465,
    'id': 'cellframe',
    'large': 'https://assets.coingecko.com/coins/images/14465/large/cellframe_logo.png?1616333567',
    'market_cap_rank': 869,
    'name': 'Cellframe',
    'price_btc': 1.5789430776032444e-05,
    'score': 1,
    'slug': 'cellframe',
    'small': 'https://assets.coingecko.com/coins/images/14465/small/cellframe_logo.png?1616333567',
    'symbol': 'CELL',
    'thumb': 'https://assets.coingecko.com/coins/images/14465/thumb/cellframe_logo.png?1616333567'}},
  {'item': {'coin_id': 17461,
    'id': 'plant-vs-undead-token',
    'large': 'https://assets.coingecko.com/coins/images/17461/large/token-200x200.png?1627883446',
    'market_cap_rank': 753,
    'name': 'Plant vs Undead Token',
    'price_btc': 3.497373832711883e-05,
    'score': 2,
    'slug': 'plant-vs-undead-token',
    'small': 'https://assets.coingecko.com/coins/images/17461/small/token-200x200.png?1627883446',
    'symbol': 'PVU',
    'thumb': 'https://assets.coingecko.com/coins/images/17461/thumb/token-200x200.png?1627883446'}},
  {'item': {'coin_id': 10366,
    'id': 'smooth-love-potion',
    'large': 'https://assets.coingecko.com/coins/images/10366/large/SLP.png?1578640057',
    'market_cap_rank': 316,
    'name': 'Smooth Love Potion',
    'price_btc': 1.3818320083477414e-06,
    'score': 3,
    'slug': 'smooth-love-potion',
    'small': 'https://assets.coingecko.com/coins/images/10366/small/SLP.png?1578640057',
    'symbol': 'SLP',
    'thumb': 'https://assets.coingecko.com/coins/images/10366/thumb/SLP.png?1578640057'}},
  {'item': {'coin_id': 18816,
    'id': 'astroswap',
    'large': 'https://assets.coingecko.com/coins/images/18816/large/astro.png?1633506850',
    'market_cap_rank': 450,
    'name': 'AstroSwap',
    'price_btc': 6.7701650309014425e-06,
    'score': 4,
    'slug': 'astroswap',
    'small': 'https://assets.coingecko.com/coins/images/18816/small/astro.png?1633506850',
    'symbol': 'ASTRO',
    'thumb': 'https://assets.coingecko.com/coins/images/18816/thumb/astro.png?1633506850'}},
  {'item': {'coin_id': 11939,
    'id': 'shiba-inu',
    'large': 'https://assets.coingecko.com/coins/images/11939/large/shiba.png?1622619446',
    'market_cap_rank': 12,
    'name': 'Shiba Inu',
    'price_btc': 4.77296564050402e-10,
    'score': 5,
    'slug': 'shiba-inu',
    'small': 'https://assets.coingecko.com/coins/images/11939/small/shiba.png?1622619446',
    'symbol': 'SHIB',
    'thumb': 'https://assets.coingecko.com/coins/images/11939/thumb/shiba.png?1622619446'}},
  {'item': {'coin_id': 13744,
    'id': 'polkabridge',
    'large': 'https://assets.coingecko.com/coins/images/13744/large/symbol-whitebg200x200.png?1611377553',
    'market_cap_rank': 918,
    'name': 'PolkaBridge',
    'price_btc': 9.229664375573119e-06,
    'score': 6,
    'slug': 'polkabridge',
    'small': 'https://assets.coingecko.com/coins/images/13744/small/symbol-whitebg200x200.png?1611377553',
    'symbol': 'PBR',
    'thumb': 'https://assets.coingecko.com/coins/images/13744/thumb/symbol-whitebg200x200.png?1611377553'}}],
 'exchanges': []}

In [9]:
# testing to retrieve current bitcoin price
cg.get_price(ids ='bitcoin', vs_currencies = 'usd')

{'bitcoin': {'usd': 57630}}

In [11]:
# getting the price of bitcoin from 01/01/2020 -> 01/01/2021
sample_data = cg.get_coin_market_chart_range_by_id(id = 'bitcoin', vs_currency = 'usd', from_timestamp = '1577854800', to_timestamp = '1609477200')

In [12]:
# putting sample data into a DataFrame
sample_df = pd.DataFrame(sample_data, columns = ['market_caps', 'prices', 'total_volumes'])

In [13]:
sample_df.head()

                           market_caps  ...                       total_volumes
0    [1577923200000, 130422953817.668]  ...   [1577923200000, 18123516838.8979]
1  [1578009600000, 126280790200.20206]  ...  [1578009600000, 20313194628.09452]
2  [1578096000000, 132766262579.09486]  ...  [1578096000000, 31015776262.21867]
3  [1578182400000, 133474716218.18333]  ...  [1578182400000, 20611640058.34164]
4  [1578268800000, 133388991086.87987]  ...  [1578268800000, 21929224570.56102]

[5 rows x 3 columns]

In [8]:

sample_df['market_caps']

0        [1577923200000, 130422953817.668]
1      [1578009600000, 126280790200.20206]
2      [1578096000000, 132766262579.09486]
3      [1578182400000, 133474716218.18333]
4      [1578268800000, 133388991086.87987]
                      ...
361    [1609113600000, 493427450341.26013]
362     [1609200000000, 503712223153.6673]
363     [1609286400000, 509680257177.0481]
364    [1609372800000, 535967306917.84125]
365     [1609459200000, 539438036435.6701]
Name: market_caps, Length: 366, dtype: object

In [ ]:
sample_df['date'] = sample_df['market_caps'].str.split(', ')

In [ ]:
new_list = []

In [ ]:
for date, mc in sample_df['market_caps']:
  #for new_item in item:
  new_list.append(mc)

In [ ]:
new_list

In [ ]:
sample_df

                             market_caps  ... date
0      [1577923200000, 130422953817.668]  ...  NaN
1    [1578009600000, 126280790200.20206]  ...  NaN
2    [1578096000000, 132766262579.09486]  ...  NaN
3    [1578182400000, 133474716218.18333]  ...  NaN
4    [1578268800000, 133388991086.87987]  ...  NaN
..                                   ...  ...  ...
361  [1609113600000, 493427450341.26013]  ...  NaN
362   [1609200000000, 503712223153.6673]  ...  NaN
363   [1609286400000, 509680257177.0481]  ...  NaN
364  [1609372800000, 535967306917.84125]  ...  NaN
365   [1609459200000, 539438036435.6701]  ...  NaN

[366 rows x 4 columns]

In [ ]:
for i in c:
  print(i)

539438036435.6701

In [ ]:
col_names = ['market_caps', 'prices', 'total_volumes']

In [ ]:
print(market_caps.values)

In [ ]:
# price every day starting 01-01-2020

In [ ]:
data = cg.get_coin_history_by_id(id = 'bitcoin', date ='10-11-2020', localization = 'false')