<a href="https://colab.research.google.com/github/cmannnn/crypto_rnn/blob/main/crypto_rnn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Crypto RNN

##imports

In [1]:
import matplotlib.pyplot as plt
import pandas as pd

!pip install pycoingecko
from pycoingecko import CoinGeckoAPI

Collecting pycoingecko
  Downloading pycoingecko-2.2.0-py3-none-any.whl (8.3 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pycoingecko) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (2021.5.30)
Installing collected packages: pycoingecko
Successfully installed pycoingecko-2.2.0

In [2]:
# initializing CoinGeckoAPI
cg = CoinGeckoAPI()

In [3]:
# checking status of the API
cg.ping()

{'gecko_says': '(V3) To the Moon!'}

In [4]:
# which coins are currently trending?
cg.get_search_trending()

{'coins': [{'item': {'coin_id': 18697,
    'id': 'gamezone',
    'large': 'https://assets.coingecko.com/coins/images/18697/large/Th98fbg__400x400.jpg?1633007475',
    'market_cap_rank': 613,
    'name': 'GameZone',
    'price_btc': 1.4010030499671915e-05,
    'score': 0,
    'slug': 'gamezone',
    'small': 'https://assets.coingecko.com/coins/images/18697/small/Th98fbg__400x400.jpg?1633007475',
    'symbol': 'GZONE',
    'thumb': 'https://assets.coingecko.com/coins/images/18697/thumb/Th98fbg__400x400.jpg?1633007475'}},
  {'item': {'coin_id': 17519,
    'id': 'bnbpay',
    'large': 'https://assets.coingecko.com/coins/images/17519/large/bnp.png?1634029495',
    'market_cap_rank': 482,
    'name': 'BNBPay',
    'price_btc': 2.836807956247346e-07,
    'score': 1,
    'slug': 'bnbpay',
    'small': 'https://assets.coingecko.com/coins/images/17519/small/bnp.png?1634029495',
    'symbol': 'BPAY',
    'thumb': 'https://assets.coingecko.com/coins/images/17519/thumb/bnp.png?1634029495'}},
  {'item': {'coin_id': 17984,
    'id': 'moonriver',
    'large': 'https://assets.coingecko.com/coins/images/17984/large/9285.png?1630028620',
    'market_cap_rank': 126,
    'name': 'Moonriver',
    'price_btc': 0.006077674348996644,
    'score': 2,
    'slug': 'moonriver',
    'small': 'https://assets.coingecko.com/coins/images/17984/small/9285.png?1630028620',
    'symbol': 'MOVR',
    'thumb': 'https://assets.coingecko.com/coins/images/17984/thumb/9285.png?1630028620'}},
  {'item': {'coin_id': 4001,
    'id': 'fantom',
    'large': 'https://assets.coingecko.com/coins/images/4001/large/Fantom.png?1558015016',
    'market_cap_rank': 34,
    'name': 'Fantom',
    'price_btc': 4.1268841137800096e-05,
    'score': 3,
    'slug': 'fantom',
    'small': 'https://assets.coingecko.com/coins/images/4001/small/Fantom.png?1558015016',
    'symbol': 'FTM',
    'thumb': 'https://assets.coingecko.com/coins/images/4001/thumb/Fantom.png?1558015016'}},
  {'item': {'coin_id': 17569,
    'id': 'joe',
    'large': 'https://assets.coingecko.com/coins/images/17569/large/joe_200x200.png?1628497750',
    'market_cap_rank': 234,
    'name': 'JOE',
    'price_btc': 4.577074713791338e-05,
    'score': 4,
    'slug': 'joe',
    'small': 'https://assets.coingecko.com/coins/images/17569/small/joe_200x200.png?1628497750',
    'symbol': 'JOE',
    'thumb': 'https://assets.coingecko.com/coins/images/17569/thumb/joe_200x200.png?1628497750'}},
  {'item': {'coin_id': 14483,
    'id': 'olympus',
    'large': 'https://assets.coingecko.com/coins/images/14483/large/token_OHM_%281%29.png?1628311611',
    'market_cap_rank': 55,
    'name': 'Olympus',
    'price_btc': 0.017361307222942508,
    'score': 5,
    'slug': 'olympus',
    'small': 'https://assets.coingecko.com/coins/images/14483/small/token_OHM_%281%29.png?1628311611',
    'symbol': 'OHM',
    'thumb': 'https://assets.coingecko.com/coins/images/14483/thumb/token_OHM_%281%29.png?1628311611'}},
  {'item': {'coin_id': 825,
    'id': 'binancecoin',
    'large': 'https://assets.coingecko.com/coins/images/825/large/binance-coin-logo.png?1547034615',
    'market_cap_rank': 3,
    'name': 'Binance Coin',
    'price_btc': 0.007810252080289591,
    'score': 6,
    'slug': 'binance-coin',
    'small': 'https://assets.coingecko.com/coins/images/825/small/binance-coin-logo.png?1547034615',
    'symbol': 'BNB',
    'thumb': 'https://assets.coingecko.com/coins/images/825/thumb/binance-coin-logo.png?1547034615'}}],
 'exchanges': []}

In [5]:
# testing to retrieve current bitcoin price
cg.get_price(ids ='bitcoin', vs_currencies = 'usd')

{'bitcoin': {'usd': 61776}}

In [6]:
# testing to retrieve current bitcoin price
cg.get_price(ids ='solana', vs_currencies = 'usd')

{'solana': {'usd': 201.44}}

# Getting Bitcoin Data

In [7]:
coins = ['bitcoin', 'ethereum', 'cardano', 'tether', 'solana']

In [8]:
def get_bitcoin():
# getting the price of bitcoin from 01/01/2020 -> 01/01/2021
  bitcoin_sample = cg.get_coin_market_chart_range_by_id(id = 'bitcoin', vs_currency = 'usd', from_timestamp = '1577768400', to_timestamp = '1609477200')

  # putting sample data into a DataFrame
  bitcoin = pd.DataFrame(bitcoin_sample, columns = ['market_caps', 'prices', 'total_volumes'])

  # looping over each col in sample_df, splitting the UNIX time stamps from each and the values
  new_market_caps = []
  new_prices = []
  new_total_volumes = []
  date = []

# looping over the market_caps col
  for date1, mc in bitcoin['market_caps']:
    new_market_caps.append(mc)

# looping over the prices col
  for date2, p in bitcoin['prices']:
    new_prices.append(p)

# looping over the total_volumes col
  for date3, tv in bitcoin['total_volumes']:
    new_total_volumes.append(tv) 

# lopping over the market_cap col to grab the UNIX date
  for date4, x in bitcoin['market_caps']:
    date.append(date4)

    # inserting the new market_cap list into the df
  bitcoin['market_caps'] = new_market_caps

# inserting the new prices list into the df
  bitcoin['prices'] = new_prices

# inserting the new total_volumnes list into the df
  bitcoin['total_volumes'] = new_total_volumes

# inserting the date list into the df
  bitcoin['date'] = date

# changing the date col from UNIX to yyyy-mm-dd
  bitcoin['date'] = pd.to_datetime(bitcoin['date'], unit = 'ms')

# setting the date col as the index
  bitcoin.set_index('date', inplace = True)

  bitcoin.rename(columns={'market_caps':'bitcoin_markt_cap', 'prices':'bitcoin_price', 'total_volumes':'bitcoin_total_volume'}, inplace = True)

  return bitcoin

In [9]:
get_bitcoin()

            bitcoin_markt_cap  bitcoin_price  bitcoin_total_volume
date
2020-01-01       1.303941e+11    7195.153895          2.118788e+10
2020-01-02       1.304230e+11    7193.754668          1.812352e+10
2020-01-03       1.262808e+11    6963.853354          2.031319e+10
2020-01-04       1.327663e+11    7300.346935          3.101578e+10
2020-01-05       1.334747e+11    7351.377053          2.061164e+10
...                       ...            ...                   ...
2020-12-28       4.934275e+11   26423.228792          5.665498e+10
2020-12-29       5.037122e+11   27125.384121          4.218652e+10
2020-12-30       5.096803e+11   27424.538955          3.808184e+10
2020-12-31       5.359673e+11   28837.288529          4.334114e+10
2021-01-01       5.394380e+11   29022.418395          4.350352e+10

[367 rows x 3 columns]

# Grabbing Litecoin Data

In [10]:
def get_litecoin():
  litecoin_sample = cg.get_coin_market_chart_range_by_id(id = 'litecoin', vs_currency = 'usd', from_timestamp = '1577768400', to_timestamp = '1609477200')
  
  # putting sample data into a DataFrame
  litecoin = pd.DataFrame(litecoin_sample, columns = ['market_caps', 'prices', 'total_volumes'])
  
  # looping over each col in sample_df, splitting the UNIX time stamps from each and the values
  new_market_caps = []
  new_prices = []
  new_total_volumes = []
  date = []

# looping over the market_caps col
  for date1, mc in litecoin['market_caps']:
    new_market_caps.append(mc)

# looping over the prices col
  for date2, p in litecoin['prices']:
    new_prices.append(p)

# looping over the total_volumes col
  for date3, tv in litecoin['total_volumes']:
    new_total_volumes.append(tv) 

# lopping over the market_cap col to grab the UNIX date
  for date4, x in litecoin['market_caps']:
    date.append(date4)  
  
  # inserting the new market_cap list into the df
  litecoin['market_caps'] = new_market_caps

# inserting the new prices list into the df
  litecoin['prices'] = new_prices

# inserting the new total_volumnes list into the df
  litecoin['total_volumes'] = new_total_volumes

# inserting the date list into the df
  litecoin['date'] = date

# changing the date col from UNIX to yyyy-mm-dd
  litecoin['date'] = pd.to_datetime(litecoin['date'], unit = 'ms')

# setting the date col as the index
  litecoin.set_index('date', inplace = True)
  
  litecoin.rename(columns={'market_caps':'litecoin_markt_cap', 'prices':'litecoin_price', 'total_volumes':'litecoin_total_volume'}, inplace = True)

  return litecoin

In [11]:
get_litecoin()

            litecoin_markt_cap  litecoin_price  litecoin_total_volume
date
2020-01-01        2.631034e+09       41.330312           2.220352e+09
2020-01-02        2.650380e+09       41.606316           1.979757e+09
2020-01-03        2.513233e+09       39.413813           1.678103e+09
2020-01-04        2.683016e+09       41.991047           2.333782e+09
2020-01-05        2.727570e+09       42.781417           2.085469e+09
...                        ...             ...                    ...
2020-12-28        8.553328e+09      127.899088           1.000616e+10
2020-12-29        8.661848e+09      130.638658           7.456440e+09
2020-12-30        8.581202e+09      129.628167           5.810650e+09
2020-12-31        8.556679e+09      129.244151           5.932641e+09
2021-01-01        8.232940e+09      124.798698           4.978856e+09

[367 rows x 3 columns]

In [59]:
BTC, ETH, ADA, USDT, SOL = ['bitcoin', 'ethereum', 'cardano', 'tether', 'solana']

# BTC, ETH, ADA, USDT, SOL

In [56]:
for a in coins:
    print(a)

bitcoin
ethereum
cardano
tether
solana

In [62]:
def get_coin_data():
    #coin_sample = cg.get_coin_market_chart_range_by_id(id = a, vs_currency = 'usd', from_timestamp = '1577768400', to_timestamp = '1609477200')
    bitcoin_sample = cg.get_coin_market_chart_range_by_id(id = BTC, vs_currency = 'usd', from_timestamp = '1577768400', to_timestamp = '1609477200')
    ethereum_sample = cg.get_coin_market_chart_range_by_id(id = ETH, vs_currency = 'usd', from_timestamp = '1577768400', to_timestamp = '1609477200')
    cardano_sample = cg.get_coin_market_chart_range_by_id(id = ADA, vs_currency = 'usd', from_timestamp = '1577768400', to_timestamp = '1609477200')
    tether_sample = cg.get_coin_market_chart_range_by_id(id = USDT, vs_currency = 'usd', from_timestamp = '1577768400', to_timestamp = '1609477200')
    solana_sample = cg.get_coin_market_chart_range_by_id(id = SOL, vs_currency = 'usd', from_timestamp = '1577768400', to_timestamp = '1609477200')

    bitcoin = pd.DataFrame(bitcoin_sample, columns = ['market_caps', 'prices', 'total_volumes'])
    ethereum = pd.DataFrame(ethereum_sample, columns = ['market_caps', 'prices', 'total_volumes'])
    cardano = pd.DataFrame(cardano_sample, columns = ['market_caps', 'prices', 'total_volumes'])
    tether = pd.DataFrame(tether_sample, columns = ['market_caps', 'prices', 'total_volumes'])
    solana = pd.DataFrame(solana_sample, columns = ['market_caps', 'prices', 'total_volumes'])
    
    # BITCOIN
    # looping over each col in sample_df, splitting the UNIX time stamps from each and the values
    bitcoin_market_cap = []
    bitcoin_price = []
    bitcoin_total_volume = []
    bitcoin_date = []
    
    # ETHEREUM
    # looping over each col in sample_df, splitting the UNIX time stamps from each and the values
    ethereum_market_cap = []
    ethereum_price = []
    ethereum_total_volume = []
    ethereum_date = []

    # CARDANO
    # looping over each col in sample_df, splitting the UNIX time stamps from each and the values
    cardano_market_cap = []
    cardano_price = []
    cardano_total_volume = []
    cardano_date = []
    
    # TETHER
    # looping over each col in sample_df, splitting the UNIX time stamps from each and the values
    tether_market_cap = []
    tether_price = []
    tether_total_volume = []
    tether_date = []

    # SOLANA
    # looping over each col in sample_df, splitting the UNIX time stamps from each and the values
    solana_market_cap = []
    solana_price = []
    solana_total_volume = []
    solana_date = []

    # BITCOIN
    # looping over the market_caps col
    for date1, mc in bitcoin['market_caps']:
      bitcoin_market_cap.append(mc)

    # looping over the prices col
    for date2, p in bitcoin['prices']:
      bitcoin_price.append(p)

    # looping over the total_volumes col
    for date3, tv in bitcoin['total_volumes']:
      bitcoin_total_volume.append(tv) 

    # lopping over the market_cap col to grab the UNIX date
    for date4, x in bitcoin['market_caps']:
      bitcoin_date.append(date4)  

    # ETHEREUM
    # looping over the market_caps col
    for date1, mc in ethereum['market_caps']:
      ethereum_market_cap.append(mc)

    # looping over the prices col
    for date2, p in ethereum['prices']:
      ethereum_price.append(p)

    # looping over the total_volumes col
    for date3, tv in ethereum['total_volumes']:
      ethereum_total_volume.append(tv) 

    # lopping over the market_cap col to grab the UNIX date
    for date4, x in ethereum['market_caps']:
      ethereum_date.append(date4) 

    # CARDANO
    # looping over the market_caps col
    for date1, mc in cardano['market_caps']:
      cardano_market_cap.append(mc)

    # looping over the prices col
    for date2, p in cardano['prices']:
      cardano_price.append(p)

    # looping over the total_volumes col
    for date3, tv in cardano['total_volumes']:
      cardano_total_volume.append(tv) 

    # lopping over the market_cap col to grab the UNIX date
    for date4, x in cardano['market_caps']:
      cardano_date.append(date4) 


    # TETHER
    # looping over the market_caps col
    for date1, mc in tether['market_caps']:
      tether_market_cap.append(mc)

    # looping over the prices col
    for date2, p in tether['prices']:
      tether_price.append(p)

    # looping over the total_volumes col
    for date3, tv in tether['total_volumes']:
      tether_total_volume.append(tv) 

    # lopping over the market_cap col to grab the UNIX date
    for date4, x in tether['market_caps']:
      tether_date.append(date4) 


    # SOLANA
    # looping over the market_caps col
    for date1, mc in solana['market_caps']:
      solana_market_cap.append(mc)

    # looping over the prices col
    for date2, p in solana['prices']:
      solana_price.append(p)

    # looping over the total_volumes col
    for date3, tv in solana['total_volumes']:
      solana_total_volume.append(tv) 

    # lopping over the market_cap col to grab the UNIX date
    for date4, x in solana['market_caps']:
      solana_date.append(date4) 



    # BITCOIN
    # inserting the new market_cap list into the df
    bitcoin['market_caps'] = bitcoin_market_cap

    # inserting the new prices list into the df
    bitcoin['prices'] = bitcoin_price

    # inserting the new total_volumnes list into the df
    bitcoin['total_volumes'] = bitcoin_total_volume

    # inserting the date list into the df
    bitcoin['date'] = bitcoin_date

    # changing the date col from UNIX to yyyy-mm-dd
    bitcoin['date'] = pd.to_datetime(bitcoin['date'], unit = 'ms')

    # setting the date col as the index
    bitcoin.set_index('date', inplace = True)

    # renaming column headers
    bitcoin.rename(columns={'market_caps':'bitcoin_market_cap', 'prices':'bitcoin_price', 'total_volumes':'bitcoin_total_volume'}, inplace = True)


    # ETHEREUM
    # inserting the new market_cap list into the df
    ethereum['market_caps'] = ethereum_market_cap

    # inserting the new prices list into the df
    ethereum['prices'] = ethereum_price

    # inserting the new total_volumnes list into the df
    ethereum['total_volumes'] = ethereum_total_volume

    # inserting the date list into the df
    ethereum['date'] = ethereum_date

    # changing the date col from UNIX to yyyy-mm-dd
    ethereum['date'] = pd.to_datetime(ethereum['date'], unit = 'ms')

    # setting the date col as the index
    ethereum.set_index('date', inplace = True)

    # renaming column headers
    ethereum.rename(columns={'market_caps':'ethereum_market_cap', 'prices':'ethereum_price', 'total_volumes':'ethereum_total_volume'}, inplace = True)



    # CARDANO
    # inserting the new market_cap list into the df
    cardano['market_caps'] = cardano_market_cap

    # inserting the new prices list into the df
    cardano['prices'] = cardano_price

    # inserting the new total_volumnes list into the df
    cardano['total_volumes'] = cardano_total_volume

    # inserting the date list into the df
    cardano['date'] = cardano_date

    # changing the date col from UNIX to yyyy-mm-dd
    cardano['date'] = pd.to_datetime(cardano['date'], unit = 'ms')

    # setting the date col as the index
    cardano.set_index('date', inplace = True)

    # renaming column headers
    cardano.rename(columns={'market_caps':'cardano_market_cap', 'prices':'cardano_price', 'total_volumes':'cardano_total_volume'}, inplace = True)


    # TETHER
    # inserting the new market_cap list into the df
    tether['market_caps'] = tether_market_cap

    # inserting the new prices list into the df
    tether['prices'] = tether_price

    # inserting the new total_volumnes list into the df
    tether['total_volumes'] = tether_total_volume

    # inserting the date list into the df
    tether['date'] = tether_date

    # changing the date col from UNIX to yyyy-mm-dd
    tether['date'] = pd.to_datetime(tether['date'], unit = 'ms')

    # setting the date col as the index
    tether.set_index('date', inplace = True)

    # renaming column headers
    tether.rename(columns={'market_caps':'tether_market_cap', 'prices':'tether_price', 'total_volumes':'tether_total_volume'}, inplace = True)


    # SOLANA
    # inserting the new market_cap list into the df
    solana['market_caps'] = solana_market_cap

    # inserting the new prices list into the df
    solana['prices'] = solana_price

    # inserting the new total_volumnes list into the df
    solana['total_volumes'] = solana_total_volume

    # inserting the date list into the df
    solana['date'] = solana_date

    # changing the date col from UNIX to yyyy-mm-dd
    solana['date'] = pd.to_datetime(solana['date'], unit = 'ms')

    # setting the date col as the index
    solana.set_index('date', inplace = True)

    # renaming column headers
    solana.rename(columns={'market_caps':'solana_market_cap', 'prices':'solana_price', 'total_volumes':'solana_total_volume'}, inplace = True)

In [63]:
get_coin_data()

            bitcoin_markt_cap  bitcoin_price  bitcoin_total_volume
date
2020-01-01       1.303941e+11    7195.153895          2.118788e+10
2020-01-02       1.304230e+11    7193.754668          1.812352e+10
2020-01-03       1.262808e+11    6963.853354          2.031319e+10
2020-01-04       1.327663e+11    7300.346935          3.101578e+10
2020-01-05       1.334747e+11    7351.377053          2.061164e+10
...                       ...            ...                   ...
2020-12-28       4.934275e+11   26423.228792          5.665498e+10
2020-12-29       5.037122e+11   27125.384121          4.218652e+10
2020-12-30       5.096803e+11   27424.538955          3.808184e+10
2020-12-31       5.359673e+11   28837.288529          4.334114e+10
2021-01-01       5.394380e+11   29022.418395          4.350352e+10

[367 rows x 3 columns]

In [ ]:
coin_sample.head()

NameError: ignored

In [ ]:
# putting sample data into a DataFrame
    litecoin = pd.DataFrame(litecoin_sample, columns = ['market_caps', 'prices', 'total_volumes'])
  
  # looping over each col in sample_df, splitting the UNIX time stamps from each and the values
    new_market_caps = []
    new_prices = []
    new_total_volumes = []
    date = []

# looping over the market_caps col
    for date1, mc in litecoin['market_caps']:
      new_market_caps.append(mc)

# looping over the prices col
    for date2, p in litecoin['prices']:
      new_prices.append(p)

# looping over the total_volumes col
    for date3, tv in litecoin['total_volumes']:
      new_total_volumes.append(tv) 

# lopping over the market_cap col to grab the UNIX date
    for date4, x in litecoin['market_caps']:
      date.append(date4)  
  
  # inserting the new market_cap list into the df
    litecoin['market_caps'] = new_market_caps

# inserting the new prices list into the df
    litecoin['prices'] = new_prices

# inserting the new total_volumnes list into the df
    litecoin['total_volumes'] = new_total_volumes

# inserting the date list into the df
    litecoin['date'] = date

# changing the date col from UNIX to yyyy-mm-dd
    litecoin['date'] = pd.to_datetime(litecoin['date'], unit = 'ms')

# setting the date col as the index
    litecoin.set_index('date', inplace = True)
  
    litecoin.rename(columns={'market_caps':'litecoin_markt_cap', 'prices':'litecoin_price', 'total_volumes':'litecoin_total_volume'}, inplace = True)

  return litecoin

#Normalizing Data