<a href="https://colab.research.google.com/github/cmannnn/crypto_rnn/blob/main/crypto_rnn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Crypto RNN

##imports

In [1]:
import matplotlib.pyplot as plt
import pandas as pd

!pip install pycoingecko
from pycoingecko import CoinGeckoAPI

Collecting pycoingecko
  Downloading pycoingecko-2.2.0-py3-none-any.whl (8.3 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pycoingecko) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (1.24.3)
Installing collected packages: pycoingecko
Successfully installed pycoingecko-2.2.0

In [2]:
# initializing CoinGeckoAPI
cg = CoinGeckoAPI()

In [3]:
# checking status of the API
cg.ping()

{'gecko_says': '(V3) To the Moon!'}

In [4]:
# which coins are currently trending?
cg.get_search_trending()

{'coins': [{'item': {'coin_id': 8251,
    'id': 'ferrum-network',
    'large': 'https://assets.coingecko.com/coins/images/8251/large/frm.png?1563777564',
    'market_cap_rank': 751,
    'name': 'Ferrum Network',
    'price_btc': 4.629702327166938e-06,
    'score': 0,
    'slug': 'ferrum-network',
    'small': 'https://assets.coingecko.com/coins/images/8251/small/frm.png?1563777564',
    'symbol': 'FRM',
    'thumb': 'https://assets.coingecko.com/coins/images/8251/thumb/frm.png?1563777564'}},
  {'item': {'coin_id': 17984,
    'id': 'moonriver',
    'large': 'https://assets.coingecko.com/coins/images/17984/large/9285.png?1630028620',
    'market_cap_rank': 124,
    'name': 'Moonriver',
    'price_btc': 0.0065553351759793065,
    'score': 1,
    'slug': 'moonriver',
    'small': 'https://assets.coingecko.com/coins/images/17984/small/9285.png?1630028620',
    'symbol': 'MOVR',
    'thumb': 'https://assets.coingecko.com/coins/images/17984/thumb/9285.png?1630028620'}},
  {'item': {'coin_id': 4001,
    'id': 'fantom',
    'large': 'https://assets.coingecko.com/coins/images/4001/large/Fantom.png?1558015016',
    'market_cap_rank': 34,
    'name': 'Fantom',
    'price_btc': 4.2609336254948613e-05,
    'score': 2,
    'slug': 'fantom',
    'small': 'https://assets.coingecko.com/coins/images/4001/small/Fantom.png?1558015016',
    'symbol': 'FTM',
    'thumb': 'https://assets.coingecko.com/coins/images/4001/thumb/Fantom.png?1558015016'}},
  {'item': {'coin_id': 18396,
    'id': 'monsta-infinite',
    'large': 'https://assets.coingecko.com/coins/images/18396/large/moni.png?1631763118',
    'market_cap_rank': 696,
    'name': 'Monsta Infinite',
    'price_btc': 4.625828781666108e-05,
    'score': 3,
    'slug': 'monsta-infinite',
    'small': 'https://assets.coingecko.com/coins/images/18396/small/moni.png?1631763118',
    'symbol': 'MONI',
    'thumb': 'https://assets.coingecko.com/coins/images/18396/thumb/moni.png?1631763118'}},
  {'item': {'coin_id': 4128,
    'id': 'solana',
    'large': 'https://assets.coingecko.com/coins/images/4128/large/coinmarketcap-solana-200.png?1616489452',
    'market_cap_rank': 6,
    'name': 'Solana',
    'price_btc': 0.0032209242321504725,
    'score': 4,
    'slug': 'solana',
    'small': 'https://assets.coingecko.com/coins/images/4128/small/coinmarketcap-solana-200.png?1616489452',
    'symbol': 'SOL',
    'thumb': 'https://assets.coingecko.com/coins/images/4128/thumb/coinmarketcap-solana-200.png?1616489452'}},
  {'item': {'coin_id': 16801,
    'id': 'ufo-gaming',
    'large': 'https://assets.coingecko.com/coins/images/16801/large/ufo_logo.jpg?1630078847',
    'market_cap_rank': 253,
    'name': 'UFO Gaming',
    'price_btc': 1.6832512582037553e-10,
    'score': 5,
    'slug': 'ufo-gaming',
    'small': 'https://assets.coingecko.com/coins/images/16801/small/ufo_logo.jpg?1630078847',
    'symbol': 'UFO',
    'thumb': 'https://assets.coingecko.com/coins/images/16801/thumb/ufo_logo.jpg?1630078847'}},
  {'item': {'coin_id': 825,
    'id': 'binancecoin',
    'large': 'https://assets.coingecko.com/coins/images/825/large/binance-coin-logo.png?1547034615',
    'market_cap_rank': 3,
    'name': 'Binance Coin',
    'price_btc': 0.00789370569355833,
    'score': 6,
    'slug': 'binance-coin',
    'small': 'https://assets.coingecko.com/coins/images/825/small/binance-coin-logo.png?1547034615',
    'symbol': 'BNB',
    'thumb': 'https://assets.coingecko.com/coins/images/825/thumb/binance-coin-logo.png?1547034615'}}],
 'exchanges': []}

In [5]:
# testing to retrieve current bitcoin price
cg.get_price(ids ='bitcoin', vs_currencies = 'usd')

{'bitcoin': {'usd': 60772}}

In [6]:
# testing to retrieve current bitcoin price
cg.get_price(ids ='solana', vs_currencies = 'usd')

{'solana': {'usd': 195.8}}

# Getting Bitcoin Data

In [7]:
#coins = ('bitcoin', 'ethereum', 'cardano', 'tether', 'solana')

In [8]:
coin_df = pd.DataFrame()

In [11]:
def coin_prices():
  bitcoin_test = cg.get_coin_market_chart_range_by_id(id = 'bitcoin', vs_currency = 'usd', from_timestamp = '1577768400', to_timestamp = '1609477200')
  coin_df.insert(bitcoin_test, columns = ['market_caps', 'prices', 'total_volumes'])
  return coin_df

In [12]:
coin_prices()

TypeError: ignored

In [ ]:
# getting the price of bitcoin from 01/01/2020 -> 01/01/2021
#sample_data = cg.get_coin_market_chart_range_by_id(id = 'bitcoin', vs_currency = 'usd', from_timestamp = '1577768400', to_timestamp = '1609477200')

In [ ]:
# putting sample data into a DataFrame
sample_df = pd.DataFrame(sample_data, columns = ['market_caps', 'prices', 'total_volumes'])

In [ ]:
# checking market_caps column
sample_df['market_caps']

0      [1577836800000, 130394101535.60994]
1        [1577923200000, 130422953817.668]
2      [1578009600000, 126280790200.20206]
3      [1578096000000, 132766262579.09486]
4      [1578182400000, 133474716218.18333]
                      ...
362    [1609113600000, 493427450341.26013]
363     [1609200000000, 503712223153.6673]
364     [1609286400000, 509680257177.0481]
365    [1609372800000, 535967306917.84125]
366     [1609459200000, 539438036435.6701]
Name: market_caps, Length: 367, dtype: object

In [ ]:
# looping over each col in sample_df, splitting the UNIX time stamps from each and the values
new_market_caps = []
new_prices = []
new_total_volumes = []
date = []

# looping over the market_caps col
for date1, mc in sample_df['market_caps']:
  new_market_caps.append(mc)

# looping over the prices col
for date2, p in sample_df['prices']:
  new_prices.append(p)

# looping over the total_volumes col
for date3, tv in sample_df['total_volumes']:
  new_total_volumes.append(tv) 

# lopping over the market_cap col to grab the UNIX date
for date4, x in sample_df['market_caps']:
  date.append(date4)

In [ ]:
# inserting the new market_cap list into the df
sample_df['market_caps'] = sample_df['market_caps'] = new_market_caps

# inserting the new prices list into the df
sample_df['prices'] = sample_df['prices'] = new_prices

# inserting the new total_volumnes list into the df
sample_df['total_volumes'] = sample_df['total_volumes'] = new_total_volumes

# inserting the date list into the df
sample_df['date'] = sample_df['date'] = date

# changing the date col from UNIX to yyyy-mm-dd
sample_df['date'] = pd.to_datetime(sample_df['date'], unit = 'ms')

# setting the date col as the index
sample_df.set_index('date', inplace = True)

In [ ]:
sample_df.head(10)

             market_caps       prices  total_volumes
date
2020-01-01  1.303941e+11  7195.153895   2.118788e+10
2020-01-02  1.304230e+11  7193.754668   1.812352e+10
2020-01-03  1.262808e+11  6963.853354   2.031319e+10
2020-01-04  1.327663e+11  7300.346935   3.101578e+10
2020-01-05  1.334747e+11  7351.377053   2.061164e+10
2020-01-06  1.333890e+11  7349.972248   2.192922e+10
2020-01-07  1.405572e+11  7734.675516   2.814852e+10
2020-01-08  1.477986e+11  8147.415238   3.482319e+10
2020-01-09  1.460896e+11  8045.789125   3.997151e+10
2020-01-10  1.419139e+11  7832.795644   2.927605e+10

In [ ]:
sample_df.tail()

             market_caps        prices  total_volumes
date
2020-12-28  4.934275e+11  26423.228792   5.665498e+10
2020-12-29  5.037122e+11  27125.384121   4.218652e+10
2020-12-30  5.096803e+11  27424.538955   3.808184e+10
2020-12-31  5.359673e+11  28837.288529   4.334114e+10
2021-01-01  5.394380e+11  29022.418395   4.350352e+10

# Grabbing Litecoin Data

In [ ]:
sample_data = cg.get_coin_market_chart_range_by_id(id = 'litecoin', vs_currency = 'usd', from_timestamp = '1577768400', to_timestamp = '1609477200')

In [ ]:
sample_data

#Normalizing Data