<a href="https://colab.research.google.com/github/cmannnn/crypto_rnn/blob/main/crypto_rnn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Crypto RNN

##imports

In [1]:
import matplotlib.pyplot as plt
import pandas as pd

!pip install pycoingecko
from pycoingecko import CoinGeckoAPI

Collecting pycoingecko
  Downloading pycoingecko-2.2.0-py3-none-any.whl (8.3 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pycoingecko) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (3.0.4)
Installing collected packages: pycoingecko
Successfully installed pycoingecko-2.2.0

In [2]:
# initializing CoinGeckoAPI
cg = CoinGeckoAPI()

In [3]:
# checking status of the API
cg.ping()

{'gecko_says': '(V3) To the Moon!'}

In [4]:
# which coins are currently trending?
cg.get_search_trending()

{'coins': [{'item': {'coin_id': 6111,
    'id': 'taboo-token',
    'large': 'https://assets.coingecko.com/coins/images/6111/large/taboo.PNG?1624500776',
    'market_cap_rank': 413,
    'name': 'Taboo Token',
    'price_btc': 1.911140328368306e-07,
    'score': 0,
    'slug': 'taboo-token',
    'small': 'https://assets.coingecko.com/coins/images/6111/small/taboo.PNG?1624500776',
    'symbol': 'TABOO',
    'thumb': 'https://assets.coingecko.com/coins/images/6111/thumb/taboo.PNG?1624500776'}},
  {'item': {'coin_id': 15872,
    'id': 'wall-street-games',
    'large': 'https://assets.coingecko.com/coins/images/15872/large/X3Awe42.png?1622181358',
    'market_cap_rank': 766,
    'name': 'Wall Street Games',
    'price_btc': 1.6781579478912476e-12,
    'score': 1,
    'slug': 'wall-street-games',
    'small': 'https://assets.coingecko.com/coins/images/15872/small/X3Awe42.png?1622181358',
    'symbol': 'WSG',
    'thumb': 'https://assets.coingecko.com/coins/images/15872/thumb/X3Awe42.png?1622181358'}},
  {'item': {'coin_id': 17461,
    'id': 'plant-vs-undead-token',
    'large': 'https://assets.coingecko.com/coins/images/17461/large/token-200x200.png?1627883446',
    'market_cap_rank': 811,
    'name': 'Plant vs Undead Token',
    'price_btc': 2.780727085274054e-05,
    'score': 2,
    'slug': 'plant-vs-undead-token',
    'small': 'https://assets.coingecko.com/coins/images/17461/small/token-200x200.png?1627883446',
    'symbol': 'PVU',
    'thumb': 'https://assets.coingecko.com/coins/images/17461/thumb/token-200x200.png?1627883446'}},
  {'item': {'coin_id': 14483,
    'id': 'olympus',
    'large': 'https://assets.coingecko.com/coins/images/14483/large/token_OHM_%281%29.png?1628311611',
    'market_cap_rank': 64,
    'name': 'Olympus',
    'price_btc': 0.013547429549039881,
    'score': 3,
    'slug': 'olympus',
    'small': 'https://assets.coingecko.com/coins/images/14483/small/token_OHM_%281%29.png?1628311611',
    'symbol': 'OHM',
    'thumb': 'https://assets.coingecko.com/coins/images/14483/thumb/token_OHM_%281%29.png?1628311611'}},
  {'item': {'coin_id': 11939,
    'id': 'shiba-inu',
    'large': 'https://assets.coingecko.com/coins/images/11939/large/shiba.png?1622619446',
    'market_cap_rank': 12,
    'name': 'Shiba Inu',
    'price_btc': 4.62578049977167e-10,
    'score': 4,
    'slug': 'shiba-inu',
    'small': 'https://assets.coingecko.com/coins/images/11939/small/shiba.png?1622619446',
    'symbol': 'SHIB',
    'thumb': 'https://assets.coingecko.com/coins/images/11939/thumb/shiba.png?1622619446'}},
  {'item': {'coin_id': 18126,
    'id': 'wonderland',
    'large': 'https://assets.coingecko.com/coins/images/18126/large/time.PNG?1630621941',
    'market_cap_rank': 147,
    'name': 'Wonderland',
    'price_btc': 0.09529285739481522,
    'score': 5,
    'slug': 'wonderland',
    'small': 'https://assets.coingecko.com/coins/images/18126/small/time.PNG?1630621941',
    'symbol': 'TIME',
    'thumb': 'https://assets.coingecko.com/coins/images/18126/thumb/time.PNG?1630621941'}},
  {'item': {'coin_id': 12164,
    'id': 'unilayer',
    'large': 'https://assets.coingecko.com/coins/images/12164/large/Unilayer.jpg?1597779313',
    'market_cap_rank': 778,
    'name': 'UniLayer',
    'price_btc': 2.016218494160293e-05,
    'score': 6,
    'slug': 'unilayer',
    'small': 'https://assets.coingecko.com/coins/images/12164/small/Unilayer.jpg?1597779313',
    'symbol': 'LAYER',
    'thumb': 'https://assets.coingecko.com/coins/images/12164/thumb/Unilayer.jpg?1597779313'}}],
 'exchanges': []}

In [5]:
# testing to retrieve current bitcoin price
cg.get_price(ids ='bitcoin', vs_currencies = 'usd')

{'bitcoin': {'usd': 62264}}

In [10]:
# testing to retrieve current bitcoin price
cg.get_price(ids ='solana', vs_currencies = 'usd')

{'solana': {'usd': 156.7}}

# Getting Bitcoin Data

In [11]:
coins = ('bitcoin', 'ethereum', 'cardano', 'tether', 'solana')

In [12]:
def coin_prices():
  for coin in coins:
    sample_data = cg.get_coin_market_chart_range_by_id(id = coin, vs_currency = 'usd', from_timestamp = '1577768400', to_timestamp = '1609477200')

In [ ]:
sample_data

In [ ]:
# getting the price of bitcoin from 01/01/2020 -> 01/01/2021
#sample_data = cg.get_coin_market_chart_range_by_id(id = 'bitcoin', vs_currency = 'usd', from_timestamp = '1577768400', to_timestamp = '1609477200')

In [ ]:
# putting sample data into a DataFrame
sample_df = pd.DataFrame(sample_data, columns = ['market_caps', 'prices', 'total_volumes'])

In [ ]:
# checking market_caps column
sample_df['market_caps']

0      [1577836800000, 130394101535.60994]
1        [1577923200000, 130422953817.668]
2      [1578009600000, 126280790200.20206]
3      [1578096000000, 132766262579.09486]
4      [1578182400000, 133474716218.18333]
                      ...
362    [1609113600000, 493427450341.26013]
363     [1609200000000, 503712223153.6673]
364     [1609286400000, 509680257177.0481]
365    [1609372800000, 535967306917.84125]
366     [1609459200000, 539438036435.6701]
Name: market_caps, Length: 367, dtype: object

In [ ]:
# looping over each col in sample_df, splitting the UNIX time stamps from each and the values
new_market_caps = []
new_prices = []
new_total_volumes = []
date = []

# looping over the market_caps col
for date1, mc in sample_df['market_caps']:
  new_market_caps.append(mc)

# looping over the prices col
for date2, p in sample_df['prices']:
  new_prices.append(p)

# looping over the total_volumes col
for date3, tv in sample_df['total_volumes']:
  new_total_volumes.append(tv) 

# lopping over the market_cap col to grab the UNIX date
for date4, x in sample_df['market_caps']:
  date.append(date4)

In [ ]:
# inserting the new market_cap list into the df
sample_df['market_caps'] = sample_df['market_caps'] = new_market_caps

# inserting the new prices list into the df
sample_df['prices'] = sample_df['prices'] = new_prices

# inserting the new total_volumnes list into the df
sample_df['total_volumes'] = sample_df['total_volumes'] = new_total_volumes

# inserting the date list into the df
sample_df['date'] = sample_df['date'] = date

# changing the date col from UNIX to yyyy-mm-dd
sample_df['date'] = pd.to_datetime(sample_df['date'], unit = 'ms')

# setting the date col as the index
sample_df.set_index('date', inplace = True)

In [ ]:
sample_df.head(10)

             market_caps       prices  total_volumes
date
2020-01-01  1.303941e+11  7195.153895   2.118788e+10
2020-01-02  1.304230e+11  7193.754668   1.812352e+10
2020-01-03  1.262808e+11  6963.853354   2.031319e+10
2020-01-04  1.327663e+11  7300.346935   3.101578e+10
2020-01-05  1.334747e+11  7351.377053   2.061164e+10
2020-01-06  1.333890e+11  7349.972248   2.192922e+10
2020-01-07  1.405572e+11  7734.675516   2.814852e+10
2020-01-08  1.477986e+11  8147.415238   3.482319e+10
2020-01-09  1.460896e+11  8045.789125   3.997151e+10
2020-01-10  1.419139e+11  7832.795644   2.927605e+10

In [ ]:
sample_df.tail()

             market_caps        prices  total_volumes
date
2020-12-28  4.934275e+11  26423.228792   5.665498e+10
2020-12-29  5.037122e+11  27125.384121   4.218652e+10
2020-12-30  5.096803e+11  27424.538955   3.808184e+10
2020-12-31  5.359673e+11  28837.288529   4.334114e+10
2021-01-01  5.394380e+11  29022.418395   4.350352e+10

# Grabbing Litecoin Data

In [ ]:
sample_data = cg.get_coin_market_chart_range_by_id(id = 'litecoin', vs_currency = 'usd', from_timestamp = '1577768400', to_timestamp = '1609477200')

In [ ]:
sample_data

#Normalizing Data